$leftOffset: 1.4em;
$rightOffset: 1em;

.left-menu-item {
  $self: &;
  position: relative;
  font-size: 1rem;

  &:hover,
  &:focus-within {
    #{$self}__popup {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  &:not(:last-of-type) {
    &:after {
      position: absolute;
      right: $rightOffset;
      bottom: 0;
      left: $leftOffset;
      height: 1px;
      background-color: var(--border-color);
      content: "";
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 1em $rightOffset calc(1em - 1px) $leftOffset;
    border-left: 3px solid transparent;
    border-bottom-left-radius: var(--base-radius);
    border-top-left-radius: var(--base-radius);
    color: var(--base-text-color);
    text-decoration: none;
    transition: color border-color background-color var(--transition-time);

    &:hover,
    &[aria-current="page"] {
      background-color: var(--hover-bg-color);
      border-color: currentColor;
      color: var(--accent);
    }
  }

  &__icon {
    width: 1.7em;
    height: 1.7em;
    margin-right: .85em;
    mix-blend-mode: multiply;
    object-fit: contain;
  }

  &__popup {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-time);
  }
}


