:root {
  // Colors
  --blue: #2765b9;
  --orange: #ef7c00;
  --red: #e83830;
  --light-gray: #fafafa;
  --dark-gray: #5C5C5C;
  --black: #000;
  --green: #27AE60;

  // Elements colors
  --accent: var(--blue);
  --secondary: var(--orange);

  // Typography
  --base-font-size: 14px;
  --base-line-hight: 1.357;
  --base-text-color: var(--black);


}
