.search-form {
  position: relative;
  display: flex;

  &__input {
    flex-grow: 1;
    padding-right: 35px;
    border-color: var(--accent);
    border-radius: var(--base-radius);
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 4px;
    padding: 2px;
    background-color: var(--accent);
    border-radius: var(--base-radius);
    transform: translateY(-50%);
    transition: background-color var(--transition-time);

    &:hover {
      background-color: var(--secondary);
    }

    svg {
      fill: var(--white);
    }
  }

}
